@media (max-width: 414px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        height: 600px;
    }
}